<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>257907654378-iku8i4tckf5pu547p4s06umgosg7hiih.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.257907654378-iku8i4tckf5pu547p4s06umgosg7hiih</string>
	<key>API_KEY</key>
	<string>AIzaSyCaHEOAu6EYUmAvWTluck5FhJ2OqmiEpwE</string>
	<key>GCM_SENDER_ID</key>
	<string>257907654378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flashminat0.firebaseflutter</string>
	<key>PROJECT_ID</key>
	<string>flutter-crud-tut</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-crud-tut.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257907654378:ios:e59a74b5079a593add6193</string>
</dict>
</plist>